<style type="text/css">
    .currentUserCommentAvatar {
        width:auto;
        height:35px;
        margin-right:2px;
        float:left;
    }
    .lead {
        margin-bottom:0px;
    }
    .post-controls {
        width:100%;
        height:25px;
    }
    .comment {
        margin-bottom:10px;
    }
    .comment-avatar {
        height:38px;
        width:auto;
    }

    img.PetImage
    {
        width:auto;
        height:100px;
        opacity:0.85;
        display:block;
    }
    .Petdiv {
        text-align: center;
    }
    .Petinnerdiv {
        display: inline-block;
    }
    .Petinnerdiv a:hover img.PetImage {
        opacity:1;
    }
    .PetdivText
    {
        font-size:18px;
        text-align:center;
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
@if (ViewBag.Message != null)
{
    <div class="row">
        <div class="col-lg-12">
            <h2>@ViewBag.Message</h2>
        </div>
    </div>
}
<div class="row">
    <div class="col-sm-8">
        @if (ViewBag.PostList.Count == 0)
        {
            if (ViewBag.SearchInput != null)
            {
                <div class="page-header">
                    <h3>We are unable to find any posts using the Search Query: "@ViewBag.SearchInput".</h3>
                </div>
            }
            else
            {
                <div class="page-header">
                    <h2>Oh no! There are no posts in your feed!</h2>
                    <h3>Go <a href="/Home/Explore" alt="Explore">Explore</a> to find pets to follow!</h3>
                </div>
            }
        }
        @foreach (var item in ViewBag.PostList)
        {
            <div class="post" data-postid="@item.PostID">
                <div class="page-header">
                    <p>Posted by <span class="glyphicon glyphicon-user"></span> <a href="/Pets/Profile?PetID=@item.PetID">@item.Pet.Name</a> on <span class="glyphicon glyphicon-time"></span> @item.Date</p>
                </div>
                <figure class="margin-b-2">
                    <img class="img-responsive" style="border:1px solid black;" src="~/img/posts/@item.FilePath" alt="">
                </figure>
                <p class="lead">@item.Caption</p>
                <div class="row" style="margin-bottom:10px;">
                    <div class="col-xs-6">
                        <p>Likes: <span class="likeCount">@item.LikeCounts</span></p>
                    </div>
                    <div class="col-xs-6">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="post-controls">
                                <div class="pull-right btn-group-xs">
                                    @if (ViewBag.LikedPostIds.IndexOf(item.PostID) == -1)
                                    {
                                        <button class="like btn btn-default btn-sm" value="@item.PostID" onclick="LikePost.call(this);"><i class="fa fa-paw" aria-hidden="true"></i> <span class="likeText">Like</span></button>
                                    }
                                    else
                                    {
                                        <button class="like btn btn-default btn-sm" value="@item.PostID" onclick="UnlikePost.call(this);"><i class="fa fa-paw" aria-hidden="true"></i> <span class="likeText">Unlike</span></button>
                                    }
                                    @if (item.Pet.OwnerID == ViewBag.CurrentUser.ID)
                                    {
                                        <a href="/Pets/DeletePost?PostID=@item.PostID" onclick="return confirm('Are you sure?')" class="btn btn-default btn-sm"><i class="fa fa-close" aria-hidden="true"></i> Remove</a>
                                    }
                                </div>
                            </div>
                        }    
                    </div>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="post-content">
                        <div class="comment-container">
                            @foreach (var comment in item.Comments)
                            {
                                <div class="comment">
                                    @if (comment.AspNetUser.FilePath == null)
                                    {
                                        <a href="/User/Profile?DisplayName=@comment.AspNetUser.DisplayName">
                                            <img class="comment-avatar img-thumbnail" src="~/img/users/default_avatar.png" /><span class="commentDisplayName"> @comment.AspNetUser.DisplayName</span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="/User/Profile?DisplayName=@comment.AspNetUser.DisplayName">
                                            <img class="comment-avatar img-thumbnail" src="~/img/users/@comment.AspNetUser.FilePath" /><span class="commentDisplayName"> @comment.AspNetUser.DisplayName</span>
                                        </a>
                                    }
                                    <span>: @comment.Text</span>
                                    @if (comment.UserID == ViewBag.CurrentUser.ID)
                                    {
                                        <a href="/User/DeleteComment?CommentID=@comment.CommentID&returnUrl=Index" onclick="return confirm('Are you sure?')" class="btn btn-default btn-xs"><i class="fa fa-close" aria-hidden="true"></i> Remove</a>
                                    }
                                </div>
                            }
                        </div>
                        <div class="row" style="margin:0;">
                            @if (ViewBag.CurrentUser.FilePath == null)
                            {
                                <a href="~/User/Profile?DisplayName=@ViewBag.CurrentUser.DisplayName"><img class="currentUserCommentAvatar img-thumbnail" src="~/img/users/default_avatar.png" /></a>
                            }
                            else
                            {
                                <a href="~/User/Profile?DisplayName=@ViewBag.CurrentUser.DisplayName"><img class="currentUserCommentAvatar img-thumbnail" src="~/img/users/@ViewBag.CurrentUser.FilePath" /></a>
                            }
                            <label class="sr-only" for="commentInput">Comment</label>
                            <input type="hidden" name="PostID" value="@item.PostID" />
                            <input type="hidden" name="returnUrl" value="Index" />
                            <div class="col-xs-8" style="padding-left:0; padding-right:0; max-width:250px;">
                                <input type="text" class="form-control" id="commentInput" data-postid="@item.PostID" name="CommentInput" placeholder="Comment" style="max-width:none;" />
                            </div>
                            <span class="input-group-btn">
                                <button class="btn btn-default" value="@item.PostID" onclick="CommentPost.call(this);">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    <span class="sr-only">Comment</span>
                                </button>
                            </span>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    <div class="col-sm-4">
        <div class="well">
            <h4 class="margin-t-0">Search</h4>
            <form action="/Home/Search">
                <div class="input-group">
                    <label class="sr-only" for="search-form">Search the site</label>
                    <input type="text" class="form-control" id="search-form" name="SearchInput" >
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                            <span class="sr-only">Search</span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <!-- Panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Newest pets!</h4>
            </div>
            <div class="panel-body">
                @foreach (var pet in ViewBag.NewestPets)
                {
                    <div class="Petdiv">
                        <div class="Petinnerdiv">
                            <a href="/Pets/Profile?PetID=@pet.PetID">
                                @if (pet.FilePath == null)
                                {
                                    <img class="PetImage" src="~/img/pets/default_avatar.png" />
                                }
                                else
                                {
                                    <img class="PetImage" src="~/img/pets/@pet.FilePath" />
                                }
                                <span class="PetdivText">@pet.Name</span>

                            </a>
                        </div>
                    </div>
                    <hr />
                }
            </div>
        </div>
        <!-- Panel -->
    </div>
</div>
<script type="text/javascript" src="~/Scripts/LikePost.js"></script>
<script type="text/javascript" src="~/Scripts/CommentPost.js"></script>