@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Profile.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<style type="text/css">
    .liked {
        background-color: mediumslateblue;
    }
    .hover { 
        background-color: mediumslateblue;
    }
    .follow, .unfollow {
        margin-top: 10px;
    }
    .currentUserCommentAvatar {
        width:auto;
        height:38px;
        margin-right:2px;
    }
</style>

<div class="mainbody container-fluid">
    @if (ViewBag.Message != null)
    {
        <div class="row">
            <div class="col-lg-12">
                <h2>@ViewBag.Message</h2>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div align="center">
                            @if (Model.FilePath == null)
                            {
                                <img class="thumbnail img-responsive" src="~/img/pets/default_avatar.png" />
                            }
                            else
                            {
                                <img class="thumbnail img-responsive" src="~/img/pets/@Model.FilePath" />
                            }
                        </div>
                        @if (ViewBag.EditProfile == true)
                        {
                            <h3 class="small-header"><a href="/Pets/UploadPetAvatar?PetID=@Model.PetID">Change avatar</a></h3>
                        }
                        else
                        {
                            if (ViewBag.AlreadyFollowing == true)
                            {
                                <button type="button" id="followButton" class="btn btn-default btn-lg">Unfollow</button>
                            }
                            else
                            {
                                <button type="button" id="followButton" class="btn btn-default btn-lg">Follow</button>
                            }
                            <p><span id="followButton-status"></span></p>
                        }
                        <div class="media-body">
                            <hr />
                            <h3><strong>Name</strong></h3>
                            <p>@Model.Name</p>
                            <hr />
                            <h3><strong>Breed</strong></h3>
                            <p>@Model.Breed</p>
                            <hr />
                            <h3><strong>Color</strong></h3>
                            <p>@Model.Color</p>
                            @if (Model.BirthDay != null)
                            {
                                <hr />
                                <h3><strong>Birthday</strong></h3>
                                <p>@Model.BirthDay.ToString("MM/dd/yyyy")</p>
                            }
                            @if (Model.FavoriteFood != null)
                            {
                                <hr />
                                <h3><strong>Favorite Food</strong></h3>
                                <p>@Model.FavoriteFood</p>
                            }
                            @if (ViewBag.EditProfile == true)
                            {
                                <hr class="small-hr" />
                                <h4 class="small-header"><a href="/User/UpdatePet?PetID=@Model.PetID">Edit Profile</a></h4>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            
            @if (ViewBag.EditProfile == true)
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        
                        @if (ViewBag.PostList.Count == 0)
                        {
                            <h4>Your pet has no posts! :(</h4>
                            <h4><a href="/Pets/AddNewPost?PetID=@Model.PetID">Add your pet's first Post!</a></h4>
                        }
                        else
                        {
                            <h4><a href="/Pets/AddNewPost?PetID=@Model.PetID">Add new post!</a></h4>
                        }
                    </div>
                </div>
            }
            @if (ViewBag.EditProfile == false && ViewBag.PostList.Count == 0)
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>This pet has no posts! :(</h4>
                    </div>
                </div>
            }
            @if (ViewBag.PostList.Count != 0)
            {
                foreach (var item in ViewBag.PostList)
                {
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="pull-left">
                                <a href="/Pets/Profile?PetID=@Model.PetID">
                                    @if (Model.FilePath == null)
                                    {
                                        <img class="media-object img-thumbnail" src="~/img/pets/default_avatar.png" style="margin-right:8px; margin-top:-5px; width:auto; height:50px;">
                                    }
                                    else
                                    {
                                        <img class="media-object img-thumbnail" src="~/img/pets/@Model.FilePath" style="margin-right:8px; margin-top:-5px; width:auto; height:50px;">
                                    }
                                </a>
                            </div>
                            <h4><a href="/Pets/Profile?PetID=@Model.PetID" style="text-decoration:none;"><strong>@Model.Name</strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> @item.Date</i></a></small></small></h4>
                            <hr />
                            <div class="post-content">
                                <img class="img-responsive" style="border:1px solid black" src="~/img/posts/@item.FilePath" alt="" />
                                <p>@item.Caption</p>
                            </div>
                            
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="post-content">
                                    <div class="pull-right btn-group-xs">
                                        <a class="btn btn-default btn-xs"><i class="fa fa-paw" aria-hidden="true"></i> Like</a>

                                        @if (item.Pet.OwnerID == ViewBag.CurrentUser.ID)
                                        {
                                            <a href="/Pets/DeletePost?PostID=@item.PostID" onclick="return confirm('Are you sure?')"class="btn btn-default btn-xs"><i class="fa fa-close" aria-hidden="true"></i> Remove</a>
                                        }
                                    </div>
                                    <form action="/Home/Search">
                                        <div class="input-group" style="width:363px;">
                                            <a href="~/Users/Profile?DisplayName=@ViewBag.CurrentUser.DisplayName"><img class="currentUserCommentAvatar img-thumbnail" src="~/img/users/@ViewBag.CurrentUser.FilePath" style="" /></a>
                                            <label class="sr-only" for="commentInput">Comment</label>
                                            <input type="text" class="form-control" id="commentInput" name="CommentInput" placeholder="Comment">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="submit">
                                                    <span class="glyphicon glyphicon-comment"></span>
                                                    <span class="sr-only">Comment</span>
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            }
                            <hr />
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    var PetID = @(Model.PetID);
    var PetName = '@Model.Name';
</script>
<script type="text/javascript" src="~/Scripts/FollowPet.js"></script>