@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/Profile.css" />
    <link rel="stylesheet" href="~/Content/userprofile.css" />
}
<div class="mainbody container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div align="center">
                            @if (Model.FilePath == null)
                            {
                                <img class="thumbnail img-responsive" src="~/img/users/default_avatar.png" />
                            }
                            else
                            {
                                <img class="thumbnail img-responsive" src="~/img/users/@Model.FilePath" />
                            }
                        </div>
                        @if (ViewBag.EditProfile == true)
                        {
                            <h3 class="small-header"><a href="/User/UploadUserAvatar">Change avatar</a></h3>
                        }
                        <div class="media-body">
                            <hr class="small-hr">
                            <h3><strong>Bio</strong></h3>
                            <p>@Model.Bio</p>
                            <hr class="small-hr">
                            <h3><strong>Location</strong></h3>
                            <p>@Model.Location</p>
                            <hr class="small-hr">
                            <h3><strong>Gender</strong></h3>
                            <p>@Model.Gender</p>
                            <hr class="small-hr">
                            <h3><strong>Birthday</strong></h3>
                            @if (@Model.BirthDay == null)
                            {
                                <h4></h4>
                            }
                            else
                            {

                            <p>@Model.BirthDay.ToString("MM/dd/yyyy")</p>
                            }
                            @if (ViewBag.EditProfile == true)
                            {
                                <hr class="small-hr" />
                                <h4 class="small-header"><a href="/User/EditUserProfile">Edit Profile</a></h4>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Followed pets!</h4>
                </div>
                <div class="panel-body">
                    @if (ViewBag.PetsFollowed.Count == 0)
                    {
                        if (ViewBag.EditProfile == true)
                        {
                            <p class="lead">Oh no! You are not following any pets! Go <a href="/Home/Explore" alt="Explore">Explore</a> to find pets to follow!</p>
                        }
                        else
                        {
                            <p class="lead">This user is not following any pets.</p>
                        }
                    }
                    @foreach (var pet in ViewBag.PetsFollowed)
                    {
                        <div class="PetdivVertical">
                            <div class="Petinnerdiv">
                                <a href="/Pets/Profile?PetID=@pet.PetID">
                                    @if (pet.FilePath == null)
                                    {
                                        <img class="PetImage" src="~/img/pets/default_avatar.png" />
                                    }
                                    else
                                    {
                                        <img class="PetImage" src="~/img/pets/@pet.FilePath" />
                                    }
                                    <span class="PetdivText">@pet.Name</span>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div style="height:28px">
                        <h3 class="pull-left small-header">Pets</h3>
                        @if (ViewBag.EditProfile == true)
                        {
                            <h3 class="pull-right small-header"><a href="/User/AddNewPet">Add a new Pet!</a></h3>
                        }
                    </div>
                    <hr class="small-hr" />
                    @if (ViewBag.PetList.Count == 0)
                    {
                        <h4>You have no pets!</h4>
                    }
                    else
                    {
                        foreach (var pet in ViewBag.PetList)
                        {
                            <div class="Petdiv">
                                <a href="/Pets/Profile?PetID=@pet.PetID">
                                    @if (pet.FilePath == null)
                                    {
                                        <img class="PetImage" src="~/img/pets/default_avatar.png" />
                                    }
                                    else
                                    {
                                        <img class="PetImage" src="~/img/pets/@pet.FilePath" />
                                    }
                                    <h4>@pet.Name</h4>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>